[submodule "Lab_3_Device_Twins/AzureSphereDevX"]
	path = Lab_3_Device_Twins/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "Lab_4_Direct_Methods/AzureSphereDevX"]
	path = Lab_4_Direct_Methods/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "Lab_7_End_To_End/AzureSphereDevX"]
	path = Lab_7_End_To_End/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "Lab_3_Device_Twins/HardwareDefinitions"]
	path = Lab_3_Device_Twins/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "Lab_4_Direct_Methods/HardwareDefinitions"]
	path = Lab_4_Direct_Methods/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "Lab_7_End_To_End/HardwareDefinitions"]
	path = Lab_7_End_To_End/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "Lab_3_Device_Twins/AzureSphereDrivers"]
	path = Lab_3_Device_Twins/AzureSphereDrivers
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDrivers.git
[submodule "Lab_4_Direct_Methods/AzureSphereDrivers"]
	path = Lab_4_Direct_Methods/AzureSphereDrivers
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDrivers.git
[submodule "Tools"]
	path = Tools
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.Tools.git
[submodule "AzureSphereSamples"]
	path = AzureSphereSamples
	url = https://github.com/Azure/azure-sphere-samples.git
[submodule "Lab_6_Real_Time_Enviromon_BM/mt3620_m4_software"]
	path = Lab_6_Real_Time_Enviromon_BM/mt3620_m4_software
	url = https://github.com/MediaTek-Labs/mt3620_m4_software.git
[submodule "Lab_6_Real_Time_Enviromon_RTOS/mt3620_m4_software"]
	path = Lab_6_Real_Time_Enviromon_RTOS/mt3620_m4_software
	url = https://github.com/MediaTek-Labs/mt3620_m4_software.git
[submodule "Lab_6_Real_Time_Enviromon_BM/HardwareDefinitions"]
	path = Lab_6_Real_Time_Enviromon_BM/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "Lab_6_Real_Time_Enviromon_RTOS/HardwareDefinitions"]
	path = Lab_6_Real_Time_Enviromon_RTOS/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "Lab_6_Real_Time_Enviromon_RTOS/threadx"]
	path = Lab_6_Real_Time_Enviromon_RTOS/threadx
	url = https://github.com/azure-rtos/threadx
[submodule "Lab_2_Publish_Telemetry/AzureSphereDevX"]
	path = Lab_2_Publish_Telemetry/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "Lab_2_Publish_Telemetry/HardwareDefinitions"]
	path = Lab_2_Publish_Telemetry/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "Lab_2_Publish_Telemetry/AzureSphereDrivers"]
	path = Lab_2_Publish_Telemetry/AzureSphereDrivers
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDrivers.git
